<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.midtermproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tubiao"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tubiao"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.example.midtermproject.MainActivity" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RoleLists"
            android:label="RoleLists"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.ALL_APPS" />
                <action android:name="com.example.midtermproject.RoleLists" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemInfo"
            android:label="ItemInfo"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.ALL_APPS" />
                <action android:name="com.example.midtermproject.ItemInfo" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <receiver android:name="com.example.midtermproject.StaticBroadcastReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.example.midtermproject.STATICACTION"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".ExampleAppWidgetProvider">
            <intent-filter>
                <action android:name="com.example.midtermproject.STATICACTION"/>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_app_widget_provider_info" />
        </receiver>

        <service
            android:name=".MusicServer"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.example.midtermproject.MUSIC" />
                <category android:name="android.intent.category.default" />
            </intent-filter>
        </service>


    </application>

</manifest>